<md-card layout="column" flex>
	<md-subheader class="md-no-sticky">
		{{titulo}} {{isolateList.length > 0 ? '(' + isolateList.length + ')' : '' }}
	</md-subheader>
	<span ng-transclude="headContent"></span>
	<md-list class="md-dense" layout-gt-md="row" layout-wrap>
		<md-list-item id="list-item" class="md-3-line" ng-repeat="(key, item) in isolateList" flex-gt-md="{{flexGtMd}}">
			<md-icon id="icon">{{icono}}</md-icon>
			<div class="md-list-item-text">
				<h3 id="item-titulo">{{item.titulo}}</h3>
				<h4 id="item-subtitulo">{{item.subtitulo}}</h4>
				<p id="item-paragrafo" class="inline">{{item.paragrafo}}</p>
			</div>
		</md-list-item>
	</md-list>
	<div flex></div>
</md-card>